<footer id="footer" class="col-xs-12" data-hook>
  <div id="footer-left" class="col-md-6" data-hook>
    <p><%= t 'spree.powered_by' %> <%= link_to 'Spree', 'https://spreecommerce.org/' %></p>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>
