<footer id="footer" class="col-12" data-hook>
  <div id="footer-left" class="col-6" data-hook>
    <p><%= t 'spree.powered_by' %> <%= link_to 'Open', 'https://github.com/99cm/open' %></p>
  </div>
  <div id="footer-right" class="col-6" data-hook></div>
</footer>