<nav id="top-nav-bar" class="navbar navbar-dark col-md-8 col-sm-9">
  <ul id="nav-bar" class="navbar-nav d-flex flex-column flex-sm-row navbar-right w-100 justify-content-end" data-hook>
    <%= render 'spree/shared/locale_selector' %>
    <%= render 'spree/shared/login_bar' %>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>
